table.meterTb {
    width: 100%;
    margin:20px 0px 50px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing:0px;
}
table.meterTb tr th,table.meterTb tr td {
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
}
table.meterTb tr th {
    background: #E6EAFF;
}

table.stationTB {
    margin:20px 0px 50px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-spacing:0px;
}
table.stationTB tr td {
    font-size: 12px;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 7px;
}

table.stationTB td.head {
    width: 150px;
    background: #E6EAFF;
}