{% extends "layout.html" %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <form method="POST" action="{{ url_for('show.index') }}">
        <div>ICAO Code：<input type="text" name="airport_name" value="rjtt"></div>
        <input type="submit" value="send">
        <input type="reset" value="clear">
    </form>
    <input type="button" value="Get meter" onClick="location.href='{{ url_for('get.get_meter') }}'">

    <table class="meterTb">
        <caption>{{ latest_meter.time }} (Utc)</caption>
        <tr>
            <td>Place</td>
            <td>Temperature</td>
            <td>Sky condition</td>
            <td>Wind direction</td>
            <td>Wind speed</td>
        </tr>
        <tr>
            <td>{{ latest_meter.station_id }}</td>
            <td>{{ latest_meter.air_temp }} ℃</td>
            <td>
                <table>
                    <tr>
                        <th>sky_cover</th>
                        <th>cloud_base</th>
                    </tr>
                    {% for sc in latest_meter.sky_condition %}
                        <tr>
                            <td>{{ sc.sky_cover }}</td>
                            <td>{{ sc.cloud_base_ft_agl }} ft</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>{{ latest_meter.wind_dir }} °</td>
            <td>{{ latest_meter.wind_speed }} kt</td>
        </tr>
    </table>

    <table class="meterTb">
        <caption>
            {% if latest_taf %}
                {{ latest_taf.issue_time }} (Utc)
            {% else %}
                No data
            {% endif %}
        </caption>
        <tr>
            <td>Place</td>
            <td>Temperature</td>
            <td>Sky condition</td>
            <td>Wind direction</td>
            <td>Wind speed</td>
        </tr>
        <tr>
            <td>{{ latest_taf.station_id }}</td>
            <td>{{ latest_taf.air_temp }} ℃</td>
            <td>
                <table>
                    <tr>
                        <th>sky_cover</th>
                        <th>cloud_base</th>
                    </tr>
                    {% for sc in latest_taf.sky_condition %}
                        <tr>
                            <td>{{ sc.sky_cover }}</td>
                            <td>{{ sc.cloud_base_ft_agl }} ft</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>{{ latest_taf.wind_dir }} °</td>
            <td>{{ latest_taf.wind_speed }} kt</td>
        </tr>
    </table>


{% endblock %}